.navbar{
  display: flex;
  justify-content: space-between;
  background-color: color(srgb-linear red green blue);
  font-size: xx-large;
  padding: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;

}
.navbar li a{
  text-decoration: none;
  color: aqua;
}
.navbar li a:hover{
  color: rgb(rgb(60, 53, 145), rgb(211, 9, 9), rgb(0, 0, 0));
  text-decoration: underline;
}
li{
  list-style: none;
}